.comWidth {
	width: 964px;
	margin-left: auto;
	margin-right: auto;
}

.leftArea {
	float: left;
}

.rightArea {
	float: right;
	border: #D7D7D7 solid 1px;
	margin-left: 5px;
}


/*产品分类*/

.products .leftArea {
	width: 200px;
}

.products .rightArea {
	width: 758px;
}

.products .banner_bar {
	float: none;
}

.products .item {
	width: 25%;
	*width: 24.9%;
	margin-bottom: 10px;
}


/*产品分类导航*/

.leftNav {
	background-color: #F3F3F3;
	border: #D7D7D7 solid 1px;
}

.nav_cont {
	padding: 0 18px 4px;
	/*上 左右 下*/
	border-bottom: #D7D7D7 1px dotted;
	margin-bottom: -1px;
}

.nav_cont h3 {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.navCont_list {
	line-height: 25px;
}

.navCont_list li {
	float: left;
	width: 50%;
}


/*商品*/

.item {
	float: left;
	height: 210px;
	position: relative;
}

.item_cont {
	padding: 0px;
	margin-bottom: 20px;
}

.img_item {
	height: 140px;
	text-align: center;
}

.img_item img {
	height: 140px;
}

.item p {
	line-height: 20px;
}

.item a {
	color: #000;
}

.item a:hover {
	text-decoration: underline;
}

.money {
	color: #D4105A;
	font-weight: bold;
	padding-top: 10px;
}


/*分页*/

.page {
	height: 20px;
	float: right;
	margin-bottom: 10px;
}