<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="UTF-8" />
		<title>商城</title>
		<link href="static/css/common.css" rel="stylesheet" />
		<link href="static/css/index.css" rel="stylesheet" />
		<link href="static/css/reset.css" rel="stylesheet" />
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
		<!--首行menu-->
		<div id="menu" class="menu">
			<div class="container header">
				<div class="row clearfix">
					<div class="col-md-2 column">
						<div class="span5">
							<div class="logo">
								<a href="">
									<img src="static/img/logo.png" alt="易淘" />
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-5 column">

						<div class="headerAd">
							<img src="static/img/header.jpg" width="320" height="50" alt="正品保障" title="正品保障" />
						</div>
					</div>
					<div class="col-md-5 column">
						<div class="topNav clearfix">
							<ul class="breadcrumb">
								<li>
									<a href="toLogin" ng-show="!isLogin">登录</a>
									<a href="" ng-show="isLogin">{{user.username}}</a>
								</li>
								<li>
									<a href="toRegister" ng-show="!isLogin">注册</a>
									<a href="" ng-show="isLogin">我的订单</a>
								</li>
								<li ng-show="isLogin">
									<a href="logout">退出</a>
								</li>
								<li>
									<a href="#">会员中心</a>
								</li>
								<li>
									<a href="#">购物指南</a>
								</li>
							</ul>
						</div>

						<div class="row clearfix">
							<div class="col-md-6 column">
								<div class="cart">
									<a href="cart.html">购物车</a>
								</div>
							</div>
							<div class="col-md-6 column">
								<div class="phone">
									客服热线: <strong>968666666</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="container header" style="height: 40px">

				<ul class="breadcrumb">
					<li>
						<a href="index">首页</a>
					</li>
					<li ng-repeat="category in cList">
						<a href="">{{category.cname}}</a>
					</li>

				</ul>
			</div>

		</div>

		<!--
	*******************************************
-->

		<div class="container index">
			<div class="span24">
				<div id="reCommenderProduct" class="reCommenderProduct clearfix">
					<div class="title" style=""><strong>推荐商品</strong></div>
					<ul class="tabContent" style="display: block;">
						<li ng-repeat="hotProduct in hotList">
							<a href="" target="_blank"><img ng-src="{{hotProduct.image}}" style="display: block;" /></a>
						</li>
					</ul>
				</div>

			</div>
			<div class="span24">
				<div id="reCommenderProduct" class="reCommenderProduct clearfix">
					<div class="title" style="background-color: #ab7156"><strong>最新商品</strong></div>
					<ul class="tabContent" style="display: block;">
						<li ng-repeat="newProduct in newList">
							<a href="" target="_blank"><img ng-src="{{newProduct.image}}" style="display: block;" /></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span24"></div>
		</div>
		<!--底部-->
		<div id="bottom" class="bottom-bar"></div>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			var myModule = angular.module("modulesApp", []);
			myModule.controller('modulesAppCtrl', function($scope, $http) {
				//加载用户信息
				$http.get("/user/getUserFromSession")
					.success(function(response) {
						$scope.user = response;
						if (angular.isObject(response)) { //是object且不为null
							$scope.user = response;
							$scope.isLogin = true;
						} else { //不是对象或为null
							$scope.isLogin = false;
						}
					});
				//加载一级分类
				$http.get("/getCategoryList")
					.success(function(response) {
						$scope.cList = response;
					});
				//加载热门商品
				$http.get("/getProductHot")
					.success(function(response) {
						$scope.hotList = response;
					});
				//加载最新商品
				$http.get("/getProductNew")
					.success(function(response) {
						$scope.newList = response;
					});
			});

			//jQuery加载头部和底部
			$(function() {
				//				$("#menu").load("/menu");
				$("#bottom").load("/bottom");
			});
		</script>

	</body>

</html>