<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="utf-8">
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/page-layout.css" rel="stylesheet">
		<link href="static/css/login.css" rel="stylesheet">
	</head>

	<body>
		<div>
			<div class="row row-header">
				<div class="col-md-6 text-right narrow-format">
					<label class="txt banner">易淘电子商城</label>
					<label class="txt separator">|</label>
					<label class="txt title">欢迎登陆</label>
				</div>
			</div>

			<div class="row form-container nomargin">
				<div class="col-md-6">

				</div>
				<div class="col-md-6 form-inner-container signin">
					<div class="signin-block">
						<div id="submitFrom">
							<div class="form-horizontal " role="form">
								<div class="row" style="margin-top:50px">

								</div>

								<div class="form-group left-inner-addon" style="margin:15px">
									<i class="glyphicon glyphicon-user"></i>
									<input ng-model="user.username" type="text" class="form-control txt title" id="userName" name="userName" placeholder="用户名" required autofocus/>
								</div>

								<div class="form-group left-inner-addon" style="margin:15px">
									<i class="  glyphicon glyphicon-lock"></i>
									<input ng-model="user.password" type="password" class="form-control txt title" id="password" name="password" placeholder="密码"  required autofocus/>
								</div>

								<div class="form-group left-inner-addon" style="margin:15px">
									<span id="errInfo"></span>
								</div>

								<div class="row" style="margin:15px">
									<button id="loginBtn" class="btn btn-normal btn-block" type="button" ng-click="login()">登录</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-header">
				<div class="text-center">
					<label class="label minor">COPYRIGHT@2017-2017 易淘电子商城 版权所有</label>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			var myModule = angular.module("modulesApp", []);
			myModule.controller('modulesAppCtrl', function($scope, $http, $location) {
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog = new Date();
				$scope.user={};
				//登录
				$scope.login = function() {
					$http({
						method: 'POST',
						url: '/login',
						data: $.param($scope.user), // pass in data as strings
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						} // set the headers so angular passing info as form data (not request payload)
					}).success(function(data) {
						$scope.message=data;
						
						if($scope.message.info=="success"){
							window.location = '/index' + "?time=" + $scope.timestamplog;
						}else{
							alert($scope.message.info);
							window.location = '/toLogin' + "?time=" + $scope.timestamplog;
						}
						
					});
				};
				//

			});


		</script>
	</body>

</html>