<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>商城</title>
		<link href="static/css/common.css" rel="stylesheet">
		<link href="static/css/reset.css" rel="stylesheet">
		<link href="static/css/cart.css" rel="stylesheet">
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<!--首行menu-->
		<div id="menu" class="menu"></div>
		<!--------------------------------------------------->
		<div class="container cart">
			<div class="span24">
				<div class="step step1">
					<ul>
						<li>我的订单</li>
					</ul>
				</div>
				<table class="table table-bordered" style="width: 970px;">
					<thead>
						<tr>
							<th colspan="5">订单编号:9 订单金额:
								<font color="red">122.6 </font>
								<font color="red">
									<a href="/book_shop_v1.1/order_findByOid.action?oid=9">付款</a>
								</font>
							</th>
						</tr>
						<tr>
							<th>
								图片
							</th>
							<th>
								商品
							</th>
							<th>
								价格
							</th>
							<th>
								数量
							</th>
							<th>
								小计
							</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="60">
								<img src="static/img/products/20637368-1_w_2.jpg" />
							</td>
							<td>
								Java从入门到精通（第3版）
							</td>
							<td>
								￥41.3
							</td>
							<td>
								1
							</td>
							<td>
								￥41.3
							</td>

						</tr>
						<tr >
							<th colspan="5">
									<div class="row clearfix">
										<div class="col-md-12 column" style="margin-top: -15px;text-align: right;">
											<ul class="pagination">
												<li>
													<a href="#">Prev</a>
												</li>
												<li>
													<a href="#">1</a>
												</li>
												<li>
													<a href="#">2</a>
												</li>
												<li>
													<a href="#">3</a>
												</li>
												<li>
													<a href="#">4</a>
												</li>
												<li>
													<a href="#">5</a>
												</li>
												<li>
													<a href="#">Next</a>
												</li>
											</ul>
										</div>
									</div>

							</th>
						</tr>

					</tbody>
				</table>
			</div>

		</div>

		<!--底部-->
		<div id="bottom" class="bottom-bar"></div>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$("#menu").load("menu.html");
				$("#bottom").load("bottom.html");
			});
		</script>

	</body>

</html>