<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="UTF-8" />
		<title>商城</title>
		<link href="../static/css/common.css" rel="stylesheet">
		<link href="../static/css/reset.css" rel="stylesheet">
		<link href="../static/css/cart.css" rel="stylesheet">
		<link href="../static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<!--首行menu-->
		<div id="menu" class="menu">
			<div class="container header">
				<div class="row clearfix">
					<div class="col-md-2 column">
						<div class="span5">
							<div class="logo">
								<a href="">
									<img src="../static/img/logo.png" alt="易淘" />
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-5 column">

						<div class="headerAd">
							<img src="../static/img/header.jpg" width="320" height="50" alt="正品保障" title="正品保障" />
						</div>
					</div>
					<div class="col-md-5 column">
						<div class="topNav clearfix">
							<ul class="breadcrumb">
								<li>
									<a href="../toLogin" ng-show="!isLogin">登录</a>
									<a href="" ng-show="isLogin">{{user.username}}</a>
								</li>
								<li>
									<a href="../toRegister" ng-show="!isLogin">注册</a>
									<a href="/user/toMyOrders" ng-show="isLogin">我的订单</a>
								</li>
								<li ng-show="isLogin">
									<a ng-href="../logout?time={{timestamplog}}">退出</a>
								</li>
								<li>
									<a href="#">会员中心</a>
								</li>
								<li>
									<a href="#">购物指南</a>
								</li>
							</ul>
						</div>

						<div class="row clearfix">
							<div class="col-md-6 column">
								<div class="cart">
									<a href="toCart">购物车</a>
								</div>
							</div>
							<div class="col-md-6 column">
								<div class="phone">
									客服热线: <strong>968666666</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="container header" style="height: 40px">

				<ul class="breadcrumb">
					<li>
						<a href="../index">首页</a>
					</li>
					<li ng-repeat="category in cList">
						<a ng-href="../toProductList?cid={{category.cid}}&time={{timestamplog}}">{{category.cname}}</a>
					</li>
				</ul>
			</div>

		</div>
		<!--------------------------------------------------->
		<div class="container cart">
			<div class="span24">
				<div class="step step1">
					<ul>
						<li>确认订单</li>
					</ul>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="5">订单编号</th>
						</tr>
						<tr>
							<th>
								图片
							</th>
							<th>
								商品
							</th>
							<th>
								价格
							</th>
							<th>
								数量
							</th>
							<th>
								小计
							</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="orderItem in order.orderItems |orderBy :'-itemid'">
							<td width="60">
								<img ng-src="{{orderItem.product.image}}" />
							</td>
							<td>
								{{orderItem.product.pname}}
							</td>
							<td>
								￥{{orderItem.product.shop_price}}
							</td>
							<td>
								{{orderItem.count}}
							</td>
							<td>
								￥{{orderItem.subtotal | number:2}}
							</td>

						</tr>

					</tbody>
				</table>
				<div class="total">
					<em id="promotion"></em> 商品金额:
					<strong id="effectivePrice">￥{{order.total | number:2}}元</strong>
				</div>
				<hr style="height:1px;border:none;border-top:1px solid #185598;">
				<div id="orderForm" class="form-horizontal" role="form" >
					<div class="form-group" style="margin-left: -100px">
						<label for="addr" class="col-sm-2 control-label">收货地址</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="addr" name="addr" style="width: 350px;" value="{{user.addr}}" ng-model="user.addr" />
						</div>
					</div>
					<div class="form-group" style="margin-left: -100px">
						<label for="name" class="col-sm-2 control-label">收货人</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" name="name" style="width: 150px;" value="{{user.name}}" ng-model="user.name" />
						</div>
					</div>
					<div class="form-group" style="margin-left: -100px">
						<label for="phone" class="col-sm-2 control-label">联系方式</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="phone" name="phone" style="width: 150px;" value="{{user.phone}}" ng-model="user.phone" />
						</div>
					</div>
					<p>
						选择银行：
						<br>
						<input ng-model="pd_FrpId" name="pd_FrpId" value="ICBC-NET-B2C" checked="checked" type="radio"> 工商银行
						<img src="../static/img/bank_img/icbc.bmp" align="middle">
						<input ng-model="pd_FrpId" name="pd_FrpId" value="BOC-NET-B2C" type="radio"> 中国银行
						<img src="../static/img/bank_img/bc.bmp" align="middle">
						<input ng-model="pd_FrpId" name="pd_FrpId" value="ABC-NET-B2C" type="radio"> 农业银行
						<img src="../static/img/bank_img/abc.bmp" align="middle">
						<br>
						<input ng-model="pd_FrpId" name="pd_FrpId" value="BOCO-NET-B2C" type="radio"> 交通银行
						<img src="../static/img/bank_img/bcc.bmp" align="middle">
						<input ng-model="pd_FrpId" name="pd_FrpId" value="PINGANBANK-NET" type="radio"> 平安银行
						<img src="../static/img/bank_img/pingan.bmp" align="middle">
						<input ng-model="pd_FrpId" name="pd_FrpId" value="CCB-NET-B2C" type="radio"> 建设银行
						<img src="../static/img/bank_img/ccb.bmp" align="middle">
						<br>
						<input ng-model="pd_FrpId" name="pd_FrpId" value="CEB-NET-B2C" type="radio"> 光大银行
						<img src="../static/img/bank_img/guangda.bmp" align="middle">
						<input ng-model="pd_FrpId" name="pd_FrpId" value="CMBCHINA-NET-B2C" type="radio"> 招商银行
						<img src="../static/img/bank_img/cmb.bmp" align="middle">
					</p>
					<div class="form-group" style="padding-right: 50px;">
						<div class="total">
							<em id="promotion"></em> 商品总金额:
							<strong id="effectivePrice">￥{{order.total | number:2}}元</strong>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-10 col-sm-2">
							<button ng-click="payOrder()" class="btn btn-lg btn-danger">确认订单</button>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>

		<!--底部-->
		<div id="bottom" class="bottom-bar">
			<div class="hr_25"></div>
			<div class="footer">
				<p><a href="#">易淘简介</a><i>|</i><a href="#">易淘公告</a><i>|</i> <a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：88888888</p>
				<p>Copyright &copy; 2017 - 20147易淘版权所有&nbsp;&nbsp;&nbsp;京ICP备08888号&nbsp;&nbsp;&nbsp;京ICP证B1034-88888号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
				<p>
					<a href="#"><img src="../static/img/footer.jpg" alt="logo"></a>
				</p>
			</div>

		</div>

		<script type="text/javascript" src="../static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			var myModule = angular.module("modulesApp", []);

			myModule.controller('modulesAppCtrl', function($scope, $http) {
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog = new Date();
				//加载一级分类
				$http.get("/getCategoryList")
					.success(function(response) {
						$scope.cList = response;
					});
				//加载用户信息
				$http.get("getUserFromSession")
					.success(function(response) {
						$scope.user = response;
						if (angular.isObject(response)) { //是object且不为null
							$scope.user = response;
							$scope.isLogin = true;
						} else { //不是对象或为null
							$scope.isLogin = false;

						}

					});
				//加载购物项
				$http.get("/user/getItemsToOrder")
					.success(function(response) {
						$scope.order = response;
					});
				//确认订单
				$scope.payOrder = function() {
					$http({
						method: 'POST',
						url: '/user/payOrder/'+$scope.order.oid+'/'+$scope.pd_FrpId,
						data: $.param($scope.user), // pass in data as strings
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						} // set the headers so angular passing info as form data (not request payload)
					}).success(function(data) {
						window.location = data.info+"&time=" + $scope.timestamplog;
					});
				};
				//
			});

			//jQuery加载头部和底部
			$(function() {
				//				$("#menu").load("/menu");
				//$("#bottom").load("/bottom");
			});
		</script>

	</body>

</html>