<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="UTF-8" />
		<title>商城</title>
		<link href="static/css/common.css" rel="stylesheet">
		<link href="static/css/reset.css" rel="stylesheet">
		<link href="static/css/productList.css" rel="stylesheet">
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<!--首行menu-->
		<div id="menu" class="menu">

			<div class="container header">
				<div class="row clearfix">
					<div class="col-md-2 column">
						<div class="span5">
							<div class="logo">
								<a href="">
									<img src="static/img/logo.png" alt="易淘" />
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-5 column">

						<div class="headerAd">
							<img src="static/img/header.jpg" width="320" height="50" alt="正品保障" title="正品保障" />
						</div>
					</div>
					<div class="col-md-5 column">
						<div class="topNav clearfix">
							<ul class="breadcrumb">
								<li>
									<a href="toLogin" ng-show="!isLogin">登录</a>
									<a href="" ng-show="isLogin">{{user.username}}</a>
								</li>
								<li>
									<a href="toRegister" ng-show="!isLogin">注册</a>
									<a href="/user/toMyOrders?time={{timestamplog}}" ng-show="isLogin">我的订单</a>
								</li>
								<li ng-show="isLogin">
									<a ng-href="logout?time={{timestamplog}}">退出</a>
								</li>
								<li>
									<a href="#">会员中心</a>
								</li>
								<li>
									<a href="#">购物指南</a>
								</li>
							</ul>
						</div>

						<div class="row clearfix">
							<div class="col-md-6 column">
								<div class="cart">
									<a href="/user/toCart">购物车</a>
								</div>
							</div>
							<div class="col-md-6 column">
								<div class="phone">
									客服热线: <strong>968666666</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="container header" style="height: 40px">

				<ul class="breadcrumb">
					<li>
						<a href="index">首页</a>
					</li>
					<li ng-repeat="category in cList">
						<a ng-href="toProductList?cid={{category.cid}}&time={{timestamp}}">{{category.cname}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="comWidth clearfix products">
			<div class="leftArea">
				<div class="leftNav">
					<div class="nav_con" ng-repeat="cNavigation in cNavList">
						<h4>{{cNavigation.cname}}</h4>
						<ul class="navCont_list clearfix">
							<li ng-repeat="csNavigation in cNavigation.csSet">
								<a href="javascript:void(0);" ng-click="loadByCsid(csNavigation.csid)">{{csNavigation.csname}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="rightArea">
				<div class="products_list clearfix">
					<div class="item" ng-repeat="product in pList">
						<!--item-->
						<div class="item_cont">
							<div class="img_item">
								<a ng-href="toProductDetail?pid={{product.pid}}">
									<img ng-src="{{product.image}}" alt="">
								</a>
							</div>
							<p>
								<a ng-href="toProductDetail?pid={{product.pid}}">{{product.pname}}</a>
							</p>
							<p class="money">¥{{product.shop_price}}</p>
						</div>
					</div>
					<!------------------------------------->
				</div>
			</div>
			<!---分页-->
			<div class="container text-right" style="margin-top: 15px;">
				<div class="row clearfix">
					<div class="col-md-12 column" style="margin-top: -15px;">
						<!-- paging -->
						<ul class="pagination" style="margin: 0px;">
							<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
							<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
							<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
						</ul>
						<span style="vertical-align: 12px;">  共：{{count}} 条</span>
					</div>
				</div>
			</div>
		</div>

		<div id="bottom" class="bottom-bar"></div>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			var myModule = angular.module("modulesApp", []);

			myModule.controller('modulesAppCtrl', function($scope, $http, $location) {
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog = new Date();
				//加载用户信息
				$http.get("/user/getUserFromSession")
					.success(function(response) {
						$scope.user = response;
						if (angular.isObject(response)) { //是object且不为null
							$scope.user = response;
							$scope.isLogin = true;
						} else { //不是对象或为null
							$scope.isLogin = false;
						}
					});
				//获取路径上的参数
				var absUrl = $location.absUrl();

				function UrlSearch() {
					var name, value;
					var str = location.href; //取得整个地址栏
					var num = str.indexOf("?");
					str = str.substr(num + 1); //取得所有参数   stringvar.substr(start [, length ]

					var arr = str.split("&"); //各个参数放到数组里
					for (var i = 0; i < arr.length; i++) {
						num = arr[i].indexOf("=");
						if (num > 0) {
							name = arr[i].substring(0, num);
							value = arr[i].substr(num + 1);
							this[name] = value;
						}
					}
				}

				var Request = new UrlSearch(); //实例化

				//

				//加载左侧分类导航
				$http.get("/getCategoryNavigations")
					.success(function(response) {
						$scope.cNavList = response;
					});
				//加载一级分类
				$http.get("/getCategoryList")
					.success(function(response) {
						$scope.cList = response;
					});
				//
				//分页算法  
				var calculateIndexes = function(current, length, displayLength) {
					var indexes = [];
					var start = Math.round(current - displayLength / 2);
					var end = Math.round(current + displayLength / 2);
					if (start <= 1) {
						start = 1;
						end = start + displayLength - 1;
						if (end >= length - 1) {
							end = length - 1;
						}
					}
					if (end >= length - 1) {
						end = length;
						start = end - displayLength + 1;
						if (start <= 1) {
							start = 1;
						}
					}
					for (var i = start; i <= end; i++) {
						indexes.push(i);
					}
					return indexes;
				};
				//初始化页码  
				var reloadPno = function() {
					$scope.pages = calculateIndexes($scope.p_current, $scope.p_all_page, 5);
				};
				//获取数据  
				var getProductListByCid = function(page, size, callback) {
					$scope.timestamp = new Date();
					$scope.loadByCs = false;
					$http.get("getProductsPageByCid?status=0&pageNo=" + page + "&pageSize=" + size + "&cid=" + Request.cid).success(function(res) {
						if (res) {
							$scope.count = res.totalCount;
							$scope.pList = res.list;
							$scope.p_current = page;
							$scope.p_all_page = Math.ceil($scope.count / $scope.p_pernum);
							reloadPno();
							callback();
						} else {
							alert("加载失败")
						}
					});
				};
				//二级分类
				var getProductListByCsid = function(csid, page, size, callback) {

					$scope.loadByCs = true;
					$http.get("getProductsPageByCsid?status=0&pageNo=" + page + "&pageSize=" + size + "&csid=" + csid).success(function(res) {
						if (res) {
							$scope.count = res.totalCount;
							$scope.pList = res.list;
							$scope.p_current = page;
							$scope.p_all_page = Math.ceil($scope.count / $scope.p_pernum);
							reloadPno();
							callback();
						} else {
							alert("加载失败")
						}
					});
				};
				//配置  
				$scope.count = 0;
				$scope.p_pernum = 12;
				//变量  
				$scope.p_current = 1;
				$scope.p_all_page = 0;
				$scope.pages = [];
				//用于判断是二级分类查还是一级分类查
				$scope.loadByCs = false;
				//初始化第一页  
				getProductListByCid($scope.p_current, $scope.p_pernum, function() {

				});

				//首页  
				$scope.p_index = function() {
						if ($scope.loadByCs) {
							$scope.loadPageByCsid(1);
						} else {
							$scope.load_page(1);
						}

					}
					//尾页  
				$scope.p_last = function() {
						if ($scope.loadByCs) {
							//二级分类
							$scope.loadPageByCsid($scope.p_all_page)
						} else {
							//一级分类
							$scope.load_page($scope.p_all_page);
						}

					}
					//加载某一页  
				$scope.load_page = function(page) {
					if ($scope.loadByCs) {
						$scope.loadPageByCsid(page);
					} else {
						getProductListByCid(page, $scope.p_pernum, function() {});
					}

				};
				//加载某一页  ，通过二级分类id
				$scope.loadPageByCsid = function(page) {
					getProductListByCsid($scope.csid, page, $scope.p_pernum, function() {});
				};
				//点击导航中的二级分类
				$scope.loadByCsid = function(csid) {
					$scope.csid = csid;
					//变量  
					$scope.p_current = 1;
					getProductListByCsid(csid, $scope.p_current, $scope.p_pernum, function() {});
				};

			});

			//jQuery加载头部和底部
			$(function() {
				//				$("#menu").load("/menu");
				$("#bottom").load("/bottom");
			});
		</script>

	</body>

</html>