<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>商城</title>
		<link href="static/css/common.css" rel="stylesheet">
		<link href="static/css/reset.css" rel="stylesheet">
		<link href="static/css/productList.css" rel="stylesheet">
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<!--首行menu-->
		<div id="menu" class="menu"></div>

		<div class="comWidth clearfix products" >
			<div class="leftArea">
				<div class="leftNav">
					<div class="nav_con">
						<h3>手机通讯</h3>
						<ul class="navCont_list clearfix">
							<li>
								<a href="#">全部手机</a>
							</li>
							<li>
								<a href="#">全部手机</a>
							</li>
							<li>
								<a href="#">全部手机</a>
							</li>
						</ul>
					</div>
					<div class="nav_con">
						<h3>手机通讯</h3>
						<ul class="navCont_list clearfix">
							<li>
								<a href="#">全部手机</a>
							</li>
							<li>
								<a href="#">全部手机</a>
							</li>
							<li>
								<a href="#">全部手机</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="rightArea" >
				<div class="products_list clearfix">
					<div class="item">
						<!--item-->
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>
					<!------------------------------------->
					<div class="item">
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>
					<div class="item">
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>
					<div class="item">
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>
					<div class="item">
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>
					<div class="item">
						<div class="item_cont">
							<div class="img_item">
								<a href="#">
									<img src="static/img/products/20637368-1_w_2.jpg" alt="">
								</a>
							</div>
							<p>
								<a href="#">文字介绍文字介绍文字介绍文字介绍文字介绍文字介绍</a>
							</p>
							<p class="money">￥888</p>
						</div>
					</div>

				
				</div>

			</div>
		</div>
	<!---分页-->
					<div class="container text-right" >
						<div class="row clearfix">
							<div class="col-md-12 column" style="margin-top: -15px;">
								<ul class="pagination"  >
									<li>
										<a href="#">Prev</a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#">Next</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
		<div id="bottom" class="bottom-bar"></div>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$("#menu").load("menu.html");
				$("#bottom").load("bottom.html");
			});
		</script>

	</body>

</html>