<!doctype html>
<html ng-app="registerApp" ng-controller="registerAppCtrl">

	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<link href="static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>

		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="timeToWork" class="col-sm-2 control-label">上班时间</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="timeToWork" ng-model="timeToWork" />
				</div>
			</div>
			<div class="form-group">
				<label for="timeToOff" class="col-sm-2 control-label">下班时间</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="timeToOff" ng-model="timeToOff" />
				</div>
			</div>
			<div class="form-group">
				<label for="restTime" class="col-sm-2 control-label">休息时间</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="restTime" ng-model="restTime" /> {{restTime | date}}
				</div>
			</div>
			<div class="form-group">
				<label for="subTime" class="col-sm-2 control-label">时长</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="subTime"  />
					{{subTime}}
				</div>
			</div>

		</form>

		<script type="text/javascript" src="static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/plugins/angular-1.5.8/angular.min.js"></script>
		<script type="text/javascript">
			var myModule = angular.module("registerApp", []);
			myModule.controller('registerAppCtrl', function($scope, $http, $filter) {　
				$scope.subTime = $filter('date')($scope.timeToWork);
			});
		</script>
	</body>

</html>