<!DOCTYPE html>
<html ng-app="categorysecondApp" ng-controller="categorysecondCtrl">

	<head>
		<meta charset="utf-8">
		<link href="../static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/category.css" rel="stylesheet">
		<link href="../static/css/reset.css" rel="stylesheet">
		<script type="text/javascript" src="../static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/plugins/angular-1.5.8/angular.min.js"></script>
	</head>

	<body>
		<div class="main-body">
			<!--菜单栏-->
			<div id="menu" class="row menu-bar">
				<div class="col-md-6 col menu-bar-col banner">
					<label class="txt banner">后台管理系统</label>
				</div>
			</div>
			<div class="container main full-size">
				<div class="row">
					<div class="jumbotron">
						<div class="col-md-12 column">
							<ul class="breadcrumb" style="background-color: #fff">
								<li>
									<a href="toCategory">一级分类管理</a>
								</li>
								<li class="active">
									二级分类管理
								</li>
								<li>
									<a href="toProduct">商品管理</a>
								</li>

								<li>
									<a href="toOrder">订单管理</a>
								</li>
							</ul>
						</div>
						<table class="table table-condensed table-bordered" ng-show="!edit&&!add">
							<thead>
								<tr>
									<th>
										编号
									</th>
									<th>
										二级分类名称
									</th>
									<th>
										编辑
									</th>
									<th>
										删除
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										1
									</td>
									<td>
										<span>电子商务 电子政务</span>
									</td>

									<td style="width: 65px;text-align: center;">
										<a href="" ng-show="!edit" ng-click="edit=true">
											<span class="glyphicon glyphicon-pencil"></span>编辑
										</a>
										<a href="" ng-show="edit" ng-click="edit=false">
											<span class="glyphicon glyphicon-saved"></span>保存
										</a>
									</td>
									<td style="width: 65px;text-align: center;">
										<a href="">
											<span class="glyphicon glyphicon-remove"></span>删除
										</a>
									</td>
								</tr>
								<!--一行--->

							</tbody>
						</table>
						<div style="text-align: right;margin-right: 200px;">
							<button ng-show="!add && !edit" class="btn btn-default" ng-click="add=true">添加</button>
						</div>
						<form class="form-horizontal" role="form" ng-if="add || edit">
							<div class="form-group">
								<label for="categoryName" class="col-sm-2 control-label">二级分类名</label>
								<div class="col-sm-10" style="width: 400px;">
									<input type="text" class="form-control" id="categoryName" />
								</div>
							</div>
							<div class="form-group">
								<label for="category" class="col-sm-2 control-label">所属一级分类</label>
								<div class="col-sm-10" style="width: 300px;">
									<select id="category" class="form-control">
									  <option>程序设计</option>
									  <option>办公室用书</option>
									  <option>图形 图像 多媒体</option>
									  <option>操作系统 系统开发</option>
									  <option>数据库 数据通讯</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default" ng-click="saveCategorysecond()">保存</button>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>
		<!--底部-->
		<div id="bottom" class="bottom-bar">
			<div>
				<span>Copyright © 2017-2017 易淘版权所有&nbsp;|&nbsp;版本:Beta1</span>
			</div>
		</div>

		<script>
			var myModule = angular.module("categorysecondApp", []);
			myModule.controller('categorysecondCtrl', function($scope) {
				$scope.aa = 123;
				$scope.edit = false;
				$scope.add = false;
				$scope.saveCategorysecond=function(){
					$scope.edit=false;
					$scope.add=false;
				}
			});
		</script>
	</body>

</html>