<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="utf-8">
		<link href="../static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/category.css" rel="stylesheet">
		<link href="../static/css/reset.css" rel="stylesheet">
		<script type="text/javascript" src="../static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/plugins/angular-1.5.8/angular.min.js"></script>
	</head>

	<body>
		<div class="main-body">
			<!--菜单栏-->
			<div id="menu" class="row menu-bar">
				<div class="col-md-6 col menu-bar-col banner">
					<label class="txt banner">后台管理系统</label>
				</div>
			</div>
			<div class="container main full-size">
				<div class="row">
					<div class="jumbotron">
						<div class="col-md-12 column">
							<ul class="breadcrumb" style="background-color: #fff">
								<li class="active">
									一级分类管理
								</li>
								<li>
									<a href="toCategorysecond">二级分类管理</a>
								</li>
								<li>
									<a href="toProduct">商品管理</a>
								</li>

								<li>
									<a href="toOrder">订单管理</a>
								</li>
								<li>
									<a href="toRecommend">推荐管理</a>
								</li>
								<li>
									<a ng-href="adminLogout?time={{timestamplog}}">退出</a>
								</li>
							</ul>
						</div>
						<div style="text-align: right;margin-right: 200px;margin-bottom: 10px;">
							搜索：<input type="text" ng-model="titleFilter" placeholder="输入关键字" style="margin-right: 580px;">
							<button class="btn btn-default" ng-click="getCategoryListAll()">全部显示</button>
							<button ng-show="!add" class="btn btn-default" ng-click="add=true">添加</button>
						</div>
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>
										编号
									</th>
									<th>
										一级分类名称
									</th>
									<th>
										编辑
									</th>
									<th>
										删除
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="category in categoryList | filter:titleFilter">
									<td>
										{{category.cid}}
									</td>
									<td>
										<span ng-if="!edit">{{category.cname}}</span>
										<div ng-if="edit"><input class="form-control" type="text" ng-model="category.cname"></div>
									</td>

									<td style="width: 65px;text-align: center;">
										<a href="" ng-show="!edit" ng-click="edit=true">
											<span class="glyphicon glyphicon-pencil"></span>编辑
										</a>
										<a href="" ng-show="edit" ng-click="updateCategory(category)">
											<span class="glyphicon glyphicon-saved"></span>保存
										</a>
									</td>
									<td style="width: 65px;text-align: center;">
										<a href="" ng-click="deleteCategory(category)">
											<span class="glyphicon glyphicon-remove"></span>删除
										</a>
									</td>
								</tr>
								<!--一行--->
								<!--分页-->
								<tr ng-show="!showAll">
									<th colspan="5">
										<div class="row clearfix">
											<div class="col-md-12 column" style="margin-top: -2px;text-align: right;">
												<ul class="pagination" style="margin: 0px;">
													<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
													<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
													<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
												</ul>
												<span style="vertical-align: 12px;">  共：{{count}} 条</span>
											</div>
										</div>

									</th>
								</tr>
								<!---->
							</tbody>
						</table>

						<div class="form-horizontal" role="form" ng-show="add">
							<div class="form-group">
								<label for="cotegoryName" class="col-sm-2 control-label">一级分类名</label>
								<div class="col-sm-10" style="width: 500px;">
									<input type="text" class="form-control" id="cotegoryName" ng-model="newCategory.cname" />
								</div>
								<button type="submit" class="btn btn-default" ng-click="addCategory()">添加</button>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
		<!--底部-->
		<div id="bottom" class="bottom-bar">
			<div>
				<span>Copyright © 2017-2017 易淘版权所有&nbsp;|&nbsp;版本:Beta1</span>
			</div>
		</div>

		<script>
			var myModule = angular.module("modulesApp", []);
			myModule.controller('modulesAppCtrl', function($scope, $http) {
				//分页配置  
				$scope.count = 0;
				$scope.p_pernum = 5;
				//变量  
				$scope.p_current = 1;
				$scope.p_all_page = 0;
				$scope.pages = [];
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog = new Date();
				$scope.deleteC = {};
				$scope.edit = false;
				$scope.add = false;
				$scope.newCategory = {};
				$scope.updateCategory = {};
				//				//加载一级分类列表
				//				$http.get("admin/getCategoryList")
				//					.success(function(response) {
				//						$scope.categoryList = response;
				//
				//					});
				//修改一级分类
				$scope.updateCategory = function(category) {
						$scope.showAll = false;
						$scope.edit = false;
						$http({
							method: 'POST',
							url: 'admin/updateCategory',
							data: $.param(category), // pass in data as strings
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							} // set the headers so angular passing info as form data (not request payload)
						}).success(function(response) {
							getCategoryListPage($scope.p_current, $scope.p_pernum, function() {

							});
						});
					}
					//
					//全部显示
				$scope.getCategoryListAll = function() {
					$scope.showAll = !$scope.showAll;
					if ($scope.showAll == true) {
						$http.get("admin/getCategoryListAll")
							.success(function(response) {
								$scope.categoryList = response;
							});
					} else {
						getCategoryListPage($scope.p_current, $scope.p_pernum, function() {});
					}

				};
				//删除一级分类
				$scope.deleteCategory = function(category) {
						$scope.showAll = false;
						$scope.deleteC.cid = category.cid
						$http({
							method: 'POST',
							url: 'admin/deleteCategory',
							data: $.param($scope.deleteC), // pass in data as strings
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							} // set the headers so angular passing info as form data (not request payload)
						}).success(function(response) {
							getCategoryListPage($scope.p_current, $scope.p_pernum, function() {

							});
						});
					}
					//添加一级分类
				$scope.addCategory = function() {
					$scope.add = false;
					$scope.showAll = false;
					$http({
						method: 'POST',
						url: 'admin/addCategory',
						data: $.param($scope.newCategory), // pass in data as strings
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						} // set the headers so angular passing info as form data (not request payload)
					}).success(function(response) {
						getCategoryListPage($scope.p_current, $scope.p_pernum, function() {});
					});
				};
				//
				//分页
				//分页算法  
				var calculateIndexes = function(current, length, displayLength) {
					var indexes = [];
					var start = Math.round(current - displayLength / 2);
					var end = Math.round(current + displayLength / 2);
					if (start <= 1) {
						start = 1;
						end = start + displayLength - 1;
						if (end >= length - 1) {
							end = length - 1;
						}
					}
					if (end >= length - 1) {
						end = length;
						start = end - displayLength + 1;
						if (start <= 1) {
							start = 1;
						}
					}
					for (var i = start; i <= end; i++) {
						indexes.push(i);
					}
					return indexes;
				};
				//初始化页码  
				var reloadPno = function() {
					$scope.pages = calculateIndexes($scope.p_current, $scope.p_all_page, 5);
				};
				//获取数据  
				var getCategoryListPage = function(page, size, callback) {
					$http.get("/admin/getCategoryListPage?status=0&pageNo=" + page + "&pageSize=" + size).success(function(res) {
						if (res) {
							$scope.count = res.totalCount;
							$scope.categoryList = res.list;
							$scope.p_current = page;
							$scope.p_all_page = Math.ceil($scope.count / $scope.p_pernum);
							reloadPno();
							callback();
						} else {
							alert("加载失败")
						}
					});
				};
				//初始化第一页  
				getCategoryListPage($scope.p_current, $scope.p_pernum, function() {

				});

				//首页  
				$scope.p_index = function() {
					$scope.load_page(1);
				};
				//尾页  
				$scope.p_last = function() {
					$scope.load_page($scope.p_all_page)
				};
				//加载某一页  
				$scope.load_page = function(page) {
					getCategoryListPage(page, $scope.p_pernum, function() {});
				};
				//

			});
		</script>
	</body>

</html>