<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="utf-8">
		<link href="../static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/category.css" rel="stylesheet">
		<link href="../static/css/reset.css" rel="stylesheet">
		<link href="../static/css/adminProduct.css" rel="stylesheet">
		<script type="text/javascript" src="../static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/plugins/angular-1.5.8/angular.min.js"></script>
	</head>

	<body>
		<div class="main-body">
			<!--菜单栏-->
			<div id="menu" class="row menu-bar">
				<div class="col-md-6 col menu-bar-col banner">
					<label class="txt banner">后台管理系统</label>
				</div>
			</div>
			<div class="container main full-size">
				<div class="row">
					<div class="jumbotron">
						<div class="col-md-12 column">
							<ul class="breadcrumb" style="background-color: #fff">
								<li>
									<a href="toCategory">一级分类管理</a>
								</li>
								<li>
									<a href="toCategorysecond">二级分类管理</a>
								</li>
								<li>
									<a href="toProduct">商品管理</a>
								</li>

								<li class="active">
									订单管理
								</li>
								<li>
									<a href="toRecommend">推荐管理</a>
								</li>
								<li>
									<a ng-href="adminLogout?time={{timestamplog}}">退出</a>
								</li>
							</ul>
						</div>
						
						<div style="text-align: right;margin-right: 200px;margin-bottom: 10px;">
							搜索：<input type="text" ng-model="titleFilter" placeholder="输入关键字" style="margin-right: 640px;">
							<button class="btn btn-default" ng-click="getOrderListAll()">全部显示</button>
						</div>
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>
										订单编号
									</th>
									<th>
										订单金额
									</th>
									<th>
										收货人
									</th>
									<th>
										订单状态
									</th>
									<th>
										订单详情
									</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in orderList | filter:titleFilter">
									<td>
										{{order.order.oid}}
									</td>

									<td>
										{{order.order.total}}
									</td>
									<td>
										{{order.order.user.name}}
									</td>
									<td>
										<div ng-if="!edit">
											<div ng-switch="order.order.state">
												<span ng-switch-when=1>未付款</span>
												<span ng-switch-when=2>待发货</span>
												<span ng-switch-when=3>待签收</span>
												<span ng-switch-when=4>订单完成</span>
											</div>
										</div>
										<a href="" ng-show="!edit" ng-click="edit=true">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
										<div ng-show="edit">
											<select id="status" class="form-control" ng-model="order.order.state">
												  <option value="1">未付款</option>
												  <option value="2">待发货</option>
												  <option value="3">待签收</option>
												  <option value="4">订单完成</option>
											</select>
										</div>
										<a href="" ng-show="edit" ng-click="updateOrderState(order.order)">
											<span class="glyphicon glyphicon-saved"></span>保存
										</a>
									</td>
									<td style="width: 160px;">
										<button class="btn btn-default" ng-click="showDetail(order)" ng-if="!order.info">订单详情</button>
										<div ng-if="order.info">
											<div ng-repeat="orderItem in order.orderItems">

												<div><img width="30" height="45" ng-src="{{orderItem.product.image}}"></div>
												<div>{{orderItem.product.pname}}</div>
												<div>数量：{{orderItem.count}}</div>
												<div>总金额：{{orderItem.subtotal}}</div>
											</div>
											<div>
												<button class="btn btn-default" ng-click="closeDetail(order)">收起</button>
											</div>
										</div>
									</td>

								</tr>
								<!--一行--->
								<!--分页-->
								<tr ng-show="!showAll">
									<th colspan="5">
										<div class="row clearfix">
											<div class="col-md-12 column" style="margin-top: -2px;text-align: right;">
												<ul class="pagination" style="margin: 0px;">
													<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
													<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
													<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
												</ul>
												<span style="vertical-align: 12px;">  共：{{count}} 条</span>
											</div>
										</div>

									</th>
								</tr>
								<!---->

							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
		<!--add{{add}} edit{{edit}}
		<div id="bottom" class="bottom-bar">
			<div>
				<span>Copyright © 2017-2017 易淘版权所有&nbsp;|&nbsp;版本:Beta1</span>
			</div>
		</div>-->

		<script>
			var myModule = angular.module("modulesApp", []);
			myModule.controller('modulesAppCtrl', function($scope, $http) {
				//分页配置  
				$scope.count = 0;
				$scope.p_pernum = 5;
				//变量  
				$scope.p_current = 1;
				$scope.p_all_page = 0;
				$scope.pages = [];
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog = new Date();

				$scope.aa = 123;
				$scope.edit = false;
				$scope.update = {};
//				//加载订单列表
//				$http.get("admin/getOrderList")
//					.success(function(response) {
//						$scope.orderList = response;
//
//					});
				//修改订单状态
				$scope.updateOrderState = function(order) {
						$scope.edit = false;
						$scope.update.oid = order.oid;
						$scope.update.state = order.state;
						$http({
							method: 'POST',
							url: 'admin/updateOrder',
							data: $.param($scope.update), // pass in data as strings
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							} // set the headers so angular passing info as form data (not request payload)
						}).success(function(response) {
							$scope.message = response;
							if ($scope.message.info == "success") {
								alert("更新成功");
								getOrderListPage($scope.p_current, $scope.p_pernum, function() {});
							} else {
								alert("更新失败");

							}
						});
					}
					//显示订单详情
				$scope.showDetail = function(order) {
						order.info = true;
					}
					//收起订单详情
				$scope.closeDetail = function(order) {
					order.info = false;
				};
				//
				//全部显示
				$scope.getOrderListAll = function() {
					$scope.showAll = !$scope.showAll;
					if ($scope.showAll == true) {
						$http.get("admin/getOrderList")
							.success(function(response) {
								$scope.orderList = response;
							});
					} else {
						getOrderListPage($scope.p_current, $scope.p_pernum, function() {});
					}

				};
				//分页
				//分页算法  
				var calculateIndexes = function(current, length, displayLength) {
					var indexes = [];
					var start = Math.round(current - displayLength / 2);
					var end = Math.round(current + displayLength / 2);
					if (start <= 1) {
						start = 1;
						end = start + displayLength - 1;
						if (end >= length - 1) {
							end = length - 1;
						}
					}
					if (end >= length - 1) {
						end = length;
						start = end - displayLength + 1;
						if (start <= 1) {
							start = 1;
						}
					}
					for (var i = start; i <= end; i++) {
						indexes.push(i);
					}
					return indexes;
				};
				//初始化页码  
				var reloadPno = function() {
					$scope.pages = calculateIndexes($scope.p_current, $scope.p_all_page, 5);
				};
				//获取数据  
				var getOrderListPage = function(page, size, callback) {
					$http.get("/admin/getOrderListPage?status=0&pageNo=" + page + "&pageSize=" + size).success(function(res) {
						if (res) {
							$scope.count = res.totalCount;
							$scope.orderList = res.list;
							$scope.p_current = page;
							$scope.p_all_page = Math.ceil($scope.count / $scope.p_pernum);
							reloadPno();
							callback();
						} else {
							alert("加载失败")
						}
					});
				};
				//初始化第一页  
				getOrderListPage($scope.p_current, $scope.p_pernum, function() {

				});

				//首页  
				$scope.p_index = function() {
					$scope.load_page(1);
				};
				//尾页  
				$scope.p_last = function() {
					$scope.load_page($scope.p_all_page)
				};
				//加载某一页  
				$scope.load_page = function(page) {
					getOrderListPage(page, $scope.p_pernum, function() {});
				};
				//

			});
		</script>
	</body>

</html>