<!DOCTYPE html>
<html ng-app="modulesApp" ng-controller="modulesAppCtrl">

	<head>
		<meta charset="utf-8">
		<link href="../static/plugins/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/category.css" rel="stylesheet">
		<link href="../static/css/reset.css" rel="stylesheet">
		<link href="../static/css/adminProduct.css" rel="stylesheet">
		<script type="text/javascript" src="../static/plugins/jquery-2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="../static/plugins/angular-1.5.8/angular.min.js"></script>
	</head>

	<body>
		<div class="main-body">
			<!--菜单栏-->
			<div id="menu" class="row menu-bar">
				<div class="col-md-6 col menu-bar-col banner">
					<label class="txt banner">后台管理系统</label>
				</div>
			</div>
			<div class="container main full-size">
				<div class="row">
					<div class="jumbotron">
						<div class="col-md-12 column">
							<ul class="breadcrumb" style="background-color: #fff">
								<li>
									<a href="toCategory">一级分类管理</a>
								</li>
								<li>
									<a href="toCategorysecond">二级分类管理</a>
								</li>
								<li>
									<a href="toProduct">商品管理</a>
								</li>

								<li class="active">
									订单管理
								</li>
								<li>
									<a href="toRecommend">推荐管理</a>
								</li>
								<li>
									<a ng-href="adminLogout?time={{timestamplog}}">退出</a>
								</li>
							</ul>
						</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>
										订单编号
									</th>
									<th>
										订单金额
									</th>
									<th>
										收货人
									</th>
									<th>
										订单状态
									</th>
									<th>
										订单详情
									</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in orderList">
									<td>
										{{order.order.oid}}
									</td>

									<td>
										{{order.order.total}}
									</td>
									<td>
										{{order.order.user.name}}
									</td>
									<td>
										<div ng-if="!edit">
											<div ng-switch="order.order.state">
												<span ng-switch-when=1>未付款</span>
												<span ng-switch-when=2>待发货</span>
												<span ng-switch-when=3>待签收</span>
												<span ng-switch-when=4>订单完成</span>
											</div>
										</div>
										<a href="" ng-show="!edit" ng-click="edit=true">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
										<div ng-show="edit">
											<select id="status" class="form-control" ng-model="order.order.state">
												  <option value="1">未付款</option>
												  <option value="2">待发货</option>
												  <option value="3">待签收</option>
												  <option value="4">订单完成</option>
											</select>
										</div>
										<a href="" ng-show="edit" ng-click="updateOrderState(order.order)">
											<span class="glyphicon glyphicon-saved"></span>保存
										</a>
									</td>
									<td style="width: 160px;">
										<button class="btn btn-default" ng-click="showDetail(order)" ng-if="!order.info">订单详情</button>
										<div ng-if="order.info">
											<div ng-repeat="orderItem in order.orderItems">

												<div><img width="30" height="45" ng-src="{{orderItem.product.image}}"></div>
												<div>{{orderItem.product.pname}}</div>
												<div>数量：{{orderItem.count}}</div>
												<div>总金额：{{orderItem.subtotal}}</div>
											</div>
											<div>
												<button class="btn btn-default" ng-click="closeDetail(order)">收起</button>
											</div>
										</div>
									</td>

								</tr>
								<!--一行--->
								<!--分页-->
								<tr>
									<td colspan="7" style="text-align: right;">
										<ul class="pagination pagination-sm">
											<li>
												<a href="#">Prev</a>
											</li>
											<li>
												<a href="#">1</a>
											</li>
											<li>
												<a href="#">2</a>
											</li>
											<li>
												<a href="#">3</a>
											</li>
											<li>
												<a href="#">4</a>
											</li>
											<li>
												<a href="#">5</a>
											</li>
											<li>
												<a href="#">Next</a>
											</li>
										</ul>
									</td>
								</tr>

							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
		<!--add{{add}} edit{{edit}}
		<div id="bottom" class="bottom-bar">
			<div>
				<span>Copyright © 2017-2017 易淘版权所有&nbsp;|&nbsp;版本:Beta1</span>
			</div>
		</div>-->

		<script>
			var myModule = angular.module("modulesApp", []);
			myModule.controller('modulesAppCtrl', function($scope, $http) {
				//时间戳，加载url后解决缓存问题
				$scope.timestamplog=new Date();
				
				$scope.aa = 123;
				$scope.edit = false;
				$scope.update={};
				//加载订单列表
				$http.get("admin/getOrderList")
					.success(function(response) {
						$scope.orderList = response;

					});
				//修改订单状态
				$scope.updateOrderState = function(order) {
						$scope.edit = false;
						$scope.update.oid=order.oid;
						$scope.update.state=order.state;
						$http({
							method: 'POST',
							url: 'admin/updateOrder',
							data: $.param($scope.update), // pass in data as strings
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded'
							} // set the headers so angular passing info as form data (not request payload)
						}).success(function(response) {
							$scope.orderList = response;
						});
					}
					//显示订单详情
				$scope.showDetail = function(order) {
						order.info = true;
					}
					//收起订单详情
				$scope.closeDetail = function(order) {
					order.info = false;
				}

			});
		</script>
	</body>

</html>